<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/book/add/categories" method="post">
        <label for="">Add Categories</label>
        <select name="categoriesName" id="">
            <option value="Horror">Horror</option>
            <option value="Comedy">Comedy</option>
            <option value="Action">Action</option>
            <option value="Historical">Historical</option>
            <option value="Romantis">Romantis</option>
            <option value="Realistic Fiction">Realistic Fiction</option>
            <option value="Motivate">Motivate</option>
        </select>
        <br>
        <br>
        <label for="">Title Book</label>
        <input type="text" name="title">
        <br>
        <label for="">Total Stock</label>
        <input type="text" name="stock">
        <br>
        <label for="">Price Book</label>
        <input type="text" name="book">
        <br>
        <label for="">Book Picture</label>
        <input type="text" name="title">
    </form>
</body>
</html>