<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admin/categories/add" method="post">
        <label for="">Add Categories</label>
        <select name="CategoriesId" id="">
            <% dataCategories.forEach(el =>{ %>
                <option value="<%= el.id  %>"><%= el.categoriesName %></option>
          <%  }) %>
        </select>
        <br>
        <br>
        <label for="">Book list</label>
        <select name="BooksId" id="">
            <% dataBook.forEach(el => { %>
                <option value="<%= el.id  %>"><%=el.title  %></option>
            <%}) %>
        </select>

        <br>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>